<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer/create}">Add new Customer</a>
</p>
<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>image</th>
        <th>Action</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,rowStat : ${customerList}">
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getAddress()}"></td>
        <td><img th:src="@{'/i/'+ ${customer.getImage()}}" width="100"/></td>
        <td>
            <a th:href="@{/customer/{id}/edit(id=${customer.getId()})}">edit</a>
            <a th:href="@{/customer/{id}/delete(id=${customer.getId()})}">delete</a>
        </td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>